/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  height: 100vh;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
body {
  padding: 2rem 1.8rem;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.content-container {
  max-width: 700px;
  margin: 0 auto;
}
.navigation {
  display: flex;
  flex-direction: column;
  flex-wrap: null;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
}
@media (min-width: 800px) {
  .navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: null;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
  }
}
.navigation h1 {
  font-size: 4rem;
}
nav {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: null;
  justify-content: space-around;
  align-items: center;
}
@media (min-width: 800px) {
  nav {
    width: 44%;
  }
}
nav a {
  text-decoration: none;
  list-style-type: none;
  color: #000;
  font-size: 1.6rem;
}
@media (min-width: 800px) {
  nav a {
    font-size: 1.4rem;
  }
}
.chromeperfectpixel-overlay {
  width: 500px !important;
  height: auto !important;
}
.footer {
  width: 100vw;
  max-width: inherit;
  margin-top: -30px;
  position: absolute;
  border-top: 2px dashed silver;
  background: #FFEBCD;
  left: 0;
  margin-top: 1rem;
}
@media (min-width: 800px) {
  .footer {
    max-width: unset;
  }
}
.footer p {
  text-align: center;
  color: #212529;
  font-size: 1.6rem;
  padding: 20px;
}
@media (min-width: 800px) {
  .footer p {
    font-size: 1.2rem;
  }
}
@media (min-width: 800px) {
  .content-container {
    width: 85%;
  }
}
@media (min-width: 800px) {
  h2 {
    font-size: 2.5rem;
  }
}
@media (min-width: 800px) {
  h4 {
    font-size: 2rem;
  }
}
@media (min-width: 800px) {
  p {
    font-size: 1.3rem;
  }
}
.home {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: null;
  justify-content: center;
  align-items: center;
}
.home .content-section {
  margin-top: 30px;
  margin-bottom: 2px;
}
@media (min-width: 800px) {
  .home .content-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 19px;
  }
}
.home .content-section .text-content {
  width: 100%;
}
@media (min-width: 800px) {
  .home .content-section .text-content {
    width: 49%;
    padding-right: 1%;
  }
}
.home .content-section .img-content {
  width: 100%;
}
@media (min-width: 800px) {
  .home .content-section .img-content {
    width: 48%;
    padding-left: 1%;
  }
}
.home .content-section .img-content img {
  border-radius: 10px;
  width: 100%;
  display: inline-block;
}
@media (min-width: 800px) {
  .home .content-section .img-content img {
    width: 100%;
  }
}
.home .inverse-content {
  margin-top: 24px;
  padding-bottom: 30px;
  border-bottom: 2px dashed #C0C0C0;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: null;
  justify-content: center;
  align-items: center;
}
@media (min-width: 800px) {
  .home .inverse-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 19px;
  }
}
.home .inverse-content .text-content {
  padding-left: 1%;
  padding-right: 0;
}
.home .inverse-content .img-content {
  padding-right: 1%;
  padding-left: 0;
}
.home .content-destination {
  width: 100%;
  padding-top: 2.5rem;
  padding-bottom: 2rem;
}
@media (min-width: 800px) {
  .home .content-destination {
    width: 75%;
  }
}
.home .content-destination img {
  border-radius: 10px;
}
.home .content-pick {
  display: flex;
  flex-direction: column;
  flex-wrap: null;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  width: 92%;
  border-top: 2px dashed gray;
}
@media (min-width: 800px) {
  .home .content-pick {
    width: 100%;
    padding: 2rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: null;
    justify-content: space-between;
    align-items: center;
  }
}
.home .content-pick .destination {
  width: 100%;
}
@media (min-width: 800px) {
  .home .content-pick .destination {
    width: 30%;
  }
}
.destination {
  margin-bottom: 35px;
}
.destination .btn {
  display: flex;
  flex-direction: row;
  flex-wrap: null;
  justify-content: center;
  align-items: center;
  background-color: #16A2B8;
  color: #fff;
  width: 100%;
  height: 4rem;
  border-radius: 15px;
  font-size: 2rem;
  cursor: pointer;
  margin: 0 auto;
}
.destination .btn:hover {
  animation-name: pulse;
  animation-duration: 0.2s;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.01);
  }
  50% {
    transform: scale(1.05);
  }
  75% {
    transform: scale(1.01);
  }
  100% {
    transform: scale(1);
  }
}
@media (min-width: 800px) {
  .destination .btn {
    background-color: #16A2B8;
    color: #fff;
    width: 100%;
    height: 3rem;
    border-radius: 15px;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 8px;
    font-size: 1.6rem;
    width: 82%;
    float: left;
  }
}
.contact h2 {
  margin: 0 auto;
}
.contact {
  width: 100%;
}
.contact-form {
  display: flex;
  flex-direction: column;
  flex-wrap: null;
  justify-content: center;
  align-items: left;
  width: 900px;
  max-width: 100%;
  padding: 2em 1em 0px 1em;
}
.contact-form input,
.contact-form select,
.contact-form textarea {
  margin: 5px 0px;
}
.contact-form input {
  height: 5rem;
  font-size: 1.6rem;
}
.contact-form label {
  font-size: 1.6rem;
}
.contact-form input[type='submit'] {
  height: 4rem;
  color: #fff;
  background-color: #69D36E;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.contact-form input[type='submit']:hover {
  animation-name: pulse;
  animation-duration: 0.2s;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.01);
  }
  50% {
    transform: scale(1.05);
  }
  75% {
    transform: scale(1.01);
  }
  100% {
    transform: scale(1);
  }
}
textarea {
  font-size: 14px;
}
h1,
h2,
h3 {
  font-family: 'Russo One', sans-serif;
}
p,
a {
  font-family: 'Ubuntu', sans-serif;
}
header img {
  margin-bottom: 1.7rem;
  width: 100vw;
  transform: translateX(-23px);
  border-radius: 5px;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.slideshow-container {
  width: 100%;
  margin: 0 auto;
}
.slideshow-container .fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
.space-images img {
  width: 100%;
  max-width: 100%;
  border-radius: 15px;
  margin: 5px;
}
header {
  padding-top: 1rem;
  width: 100%;
}
/*# sourceMappingURL=index.css.map */