// testing a commit ignore this comment
.content-container {
  @media @desktop {
    width: 85%;
  }
}

h2 {
  @media @desktop {
    font-size: 2.5rem;
  }
}

h4 {
  @media @desktop {
    font-size: 2rem;
  }
}

p {
  @media @desktop {
    font-size: 1.3rem;
  }

}


.home {
  margin-top: 1rem;
  .flexy(flex, column, null, center, center);
  .content-section {
    margin-top: 30px;
    margin-bottom: 2px;
    @media @desktop {
      .flexy(flex, row, wrap, space-between, flex-start);
      margin-top: 19px;
    }
   }
 }

.visit-planets,
.walk-text {
  margin-top: 2rem;
  h3 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
}

.walk {
  width: 100%;
  .border {
    width: 100vw;
    border-top: 1px solid gray;
    margin-bottom: 2rem;
  }
  .flexy(flex, column-reverse, null, center, center);
  .btn {
    margin-top: 3rem;
    .flexy(flex, row, null, center, center);
    .btn-styles(#000, #fff, 100%, 7rem);
  
  }
}
